// Mise en page général avec display:grid

.site__header {
    grid-area: header;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    background:rgba(0, 0, 0, 0.6) url(waves.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
  }
  
  .site__main {
    grid-area: main;
    overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
  }
  
  .site__footer {
    grid-area: footer;
  }

  .site__aside {
    grid-area: aside;
    background-color: rgb(128, 30, 30);
  }


  .site {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    // row-gap: 50px;
    
    @media screen and (min-width: 1000px) {
        grid-template-columns: 20% auto;
        grid-template-areas:
        "header header"
        "aside main"
       /*  ". main" */
        "footer footer";
        
    }
  }