body{
    background:rgba($color: #a70808, $alpha: 1.0) url(rando.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:difference;
    scroll-behavior: smooth;
    overflow-x:hidden;
  
  }

  

  main{
    color: white;
    li{
      list-style-type:none;
      margin-top:1em;
      
    }
  }

  .single{
    background:rgba($color: #a70808, $alpha:1.0) url(main.jpeg);
    background-blend-mode:darken;
    background-size: cover;
    background-repeat: no-repeat;
  }