// CSS font size clamp generator
// https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjUwMHB4IiwibWF4V2lkdGgiOiI5MDBweCIsIm1pbkZvbnRTaXplIjoiMTZweCIsIm1heEZvbnRTaXplIjoiNDhweCJ9


h1 {
    font-size: clamp(0.875rem, -0.385rem + 2.9231vw, 3.25rem);
  }
  h2 {
    font-size: clamp(0.625rem, -0.3125rem + 3vw, 2.5rem);
  }
  h3 {
    font-size: clamp(0.5625rem, -0.25rem + 2.6vw, 2.1875rem);
  }
  h4 {
    font-size: clamp(0.5rem, -0.1875rem + 2.2vw, 1.875rem);
  }
  h5 {
    font-size: clamp(0.5rem, -0.0313rem + 1.7vw, 1.5625rem);
  }
  h6 {
    font-size: clamp(0.5rem, 0.125rem + 1.2vw, 1.25rem);
  }
  
  P {
    font-size: clamp(0.5rem, 0.125rem + 1.2vw, 1.1rem);
  }
  
  h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  
  h2 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* font-family: "Slackey", cursive; */
  }
  
  h3,
  h4,
  h5,
  h6 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  header{
    border-bottom: 10px rgb(250, 76, 76) double;
    background:rgba(0, 0, 0, 0.6) url(waves.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
  }

  header h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  header h2{
    font-family:monospace;
    color: white;
    animation: animation-titre 7s infinite ease-in;
    background-color: red;
    border-radius: 100px;
    text-align: center;
    
  }

  .recherche__input{
    background-color: black;
    border:2px inset red;
    color: red;
    
  }

  .recherche__input:hover{
    background-color: red;
    border:2px inset white;
    color: black;
  }

  .recherche__bouton{
    background-color: black;
    border:2px inset red;
    color: red;
    
  }

  .recherche__bouton:hover{
    background-color: red;
    border:2px inset white;
    color: black;
  }

  @keyframes animation-titre {
    from{
      translate: -100%;
      
    }

    to{
      translate: 100%;
      
    }
  }