.blocflex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem;
   
}

.blocflex1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 200vh;
  margin: 2rem;
 
}

  .blocflex__article {
    display: flex;
    flex: 1 0 300px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid darkslategray;
    box-shadow: 2px 2px 2px red;
    color: white;
    border-radius: 10px;
    background:rgba(0, 0, 0, 0.6) url(article.jpeg);
    background-repeat:repeat;
    background-size: cover;
    padding: 1rem;
    margin: 6px;

    h3,h5,h6,p{
      margin: 0;
      padding: 0.2em;
    }
    

    p{
      font-family: 'Yuji Boku', serif;
      font-size: 1em;
    }
    h2{
      font-family: 'Bokor', cursive;
      font-size: 2em;
      margin: 1em;
     
    }
  }

  .blocflex__article:hover {
    animation: animation-bloc 2s infinite ease-in-out;
    border: white 3px solid;
    
  }

  .blocflex__galerie{
    display: flex;
    margin-bottom: 2em;
    flex:1 0 100%
  }

  @keyframes animation-bloc {
    from,to{
      scale: 100%;
      
    }

    50%{
      scale: 90%;
    }

  }

  