.blocflex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin: 2rem;
   
}

// .blocflex {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//     // Cette déclaration sera meilleur quand min() sera mieux supporté
//     // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
//     gap: 2rem;
//     margin: 2rem;
  
//     article {
//       border: 1px solid darkslategray;
//       box-shadow: 2px 2px 2px red;
//       color: white;
//       border-radius: 10px;
//       background-color: rgb(52, 3, 3);
//       padding: 1rem;
//       margin: 6px;
//     }
//   }

  .blocflex__article {
    display: flex;
    flex: 1 0 300px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid darkslategray;
    box-shadow: 2px 2px 2px red;
    color: white;
    border-radius: 10px;
    background-color: rgb(52, 3, 3);
    padding: 1rem;
    margin: 6px;

    h3,h5,h6,p{
      margin: 0;
      padding: 0.2em;
    }

    p{
      font-family: 'Yuji Boku', serif;
      font-size: 1em;
    }
    h2{
      font-family: 'Bokor', cursive;
    }
  }

  .blocflex__article:hover {
    animation: animation-bloc 2s infinite ease-in-out;
    border: white 3px solid;
    
  }

  .blocflex__galerie{
    display: flex;
    flex:1 0 100%
  }

  @keyframes animation-bloc {
    from,to{
      scale: 100%;
      
    }

    50%{
      scale: 90%;
    }

  }

  