.menu-evenementmenu-container{
    .menu{
        display:flex;
        
        .menu-item{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            border: 3px solid darkred;
            height: 300px;
            margin: 10px;
            background-color: rgba(0, 0, 0, 0.515);
            
        }

        .menu-item:hover{
            background-color: rgba(0, 0, 0, 0.806);
            
        }
        a{
            font-size: 2rem;
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            text-decoration: none;
            align-items: center;
            
            .title{
                display: flex;
                font-size: 1em;
                text-decoration: underline;
            }

            .description{
                font-size: 0.6em;
                text-decoration-line: none;
                
            }

            .menu-thumbnail{
                display:block;
                border:2px solid red ;
                
                
            }

            
        }
    }

}