.menu-evenement-container{
    .menu{
        display:flex;
        .menu-item{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            border: 3px solid red;
            height: 100px;
            margin: 10px;
        }
        a{
           
            font-size: 2rem;
        }
    }

}