.site__footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.site__footer section{
    border: 5px solid lightcoral;
    flex: 1 1 200px;
    height: 50vh;
    text-align: center;
    background-color:pink ;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    padding-top: 1em;
    
}