.site__footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.site__footer section{
    border: 5px solid rgb(173, 48, 48);
    flex: 1 1 200px;
    height: 40vh;
    text-align: center;
    background:radial-gradient(black 20%, lightyellow 10%, darkred 5%, red 25%,black 25%);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    padding-top: 1em;
    text-decoration: underline;
    text-shadow: 2px 2px 2px black;
}

