.site__footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (min-width: $largeur__bureau) {
        flex-direction: row;
    }

}

.site__footer section{
    border-top: 8px ridge rgb(173, 48, 48);
    border-bottom: 8px ridge rgb(173, 48, 48);
    flex: 1 1 300px;
    height: 45vh;
    background:radial-gradient(red ,black 50%);
    color: white;
    font-weight: bolder;
    
}

.site__footer .texte1, .texte2, .texte3{
    margin: 1em;
    
}

.site__footer h1{
    text-decoration: underline;
    color: rgb(255, 87, 87);
    text-shadow: 2px 2px rgba(255, 0, 0, 0.743);
    font-family: 'Metal Mania', cursive;
    font-size: 1.5em;
    
}

.site__footer h2{
    
    color: white;
    text-shadow: 2px 2px rgba(255, 0, 0, 0.743);
    font-family: 'Yuji Boku', serif;
    font-size: 1em;
    
}

.img-tourne img{
    align-items: center;
    justify-content: space-between;
    margin: 1em;
}

.img-tourne img:hover{
    filter: sepia(100%);
    animation: inverser 3s infinite ease-in-out;
    
    
}

.wp-block-avatar{
    animation: invert 1s infinite ease-in-out;
    margin: 1em;
}

.wp-block-avatar:hover{
   transform: scale(105%);
   margin: 1.5em;
}

iframe{
    border: 5px red solid;
    margin: 0.5em 0;
    animation: invert 3s infinite ease-in-out;
}


@keyframes invert {
    from,to{
        filter: invert(100%);
    }

    50%{
        filter: invert(0%);
    }
}



@keyframes inverser {
    from,to{
        transform: rotateY(0deg);
    }

    50%{
        transform: rotateY(180deg);
    }
}

