//-------------------------- MENU ENTETE --------------------------------

.site__header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.471));

}

.logomenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
   
}

.menu-entete-container{
    background-color: rgba(0, 0, 0, 0.515);
    border: 2px solid;
    border-radius:50px;
    margin-left: 1em;
    margin-top: 1em;
    height: 12em;
        
    .menu{
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        margin-bottom:1.5em;
        flex-direction: column;
        padding-right: 2.5em;

    }

    .menu-item{
        display: flex;
        text-align:center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: red;
        padding: 1em 2em;
        justify-items:center;
        font-size: 0.6em;
        border-radius: 100px;
            a{
              display: block;
                
            }
        
        }
    }

        .menu-item:hover{
            background-color: rgb(115, 14, 14);
            color: white;
        }


.icon-burger{
    display: none;
    color: black;
    background-color: red;
    border-radius: 100px;
    padding: 0.5em;
}


// Requête média tablette
@media screen and (min-width: 768px) and (max-width:991px){
      
    .menu-entete-container{
        background-color: rgba(0, 0, 0, 0.515);
        border: 2px solid;
        border-radius:50px;
        margin-left: 1em;
        margin-top: 1em;
        height: 12em;
        width: 30em;
        
        
        .menu{
            margin-bottom:1.5em;
            flex-direction: column;
            padding-right: 2.5em;
            

        }

        .menu-item{
            
            text-align:center;
            align-items: center;
            justify-items:center;
            font-size: 0.6em;

            border-radius: 100px;
             a{
                display: block;
                
             }
        
          }
    }
  }


  // Requête média ordi
@media screen and (min-width: 992px) {
      
    .menu-entete-container{
        display: flex;
        background-color: rgba(0, 0, 0, 0.515);
        border: 2px solid;
        border-radius: 100px;
        margin-left: 2em;
        height: 6em;
        
        
        
        
        .menu{
            display: flex;
            list-style-type: none;
            justify-content: flex-end;
            flex-direction:row;
        
        }
    
        .menu-item{
            display: flex;
            color: red;
            padding: 1em 2em;
            font-size: 0.8em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
            align-items: center;
            justify-items: center;
            border-radius: 100px;
            white-space:nowrap;

             a{
                display: block;
                
             }
        
        }
    
  }
}